/* ------------- "generalization */

body {
    color: #1e1e20;
    font-size: 13px;
    line-height: 1.5em;
	font-family: "Open Sans", sans-serif;
}

.container {
	width: 960px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #8eb63e;
}

p {
	margin: 0 0 20px;
}

img {
	max-width: 100%;
}



h1,h2,h3,h4,h5,h6 {
font-weight: 600;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.last{
	margin-right:0px;
}


/* ------------- "header style */
#header {
	margin: 30px 0 25px 0;
}

#header-logo{
    float: left;
    
}

#header-menu{
	float:right;
	margin-top:25px;
	font-weight: 600;
}

#header-menu ul{
	padding: 0;
    margin: 0;
    list-style: none;
}

#header-menu ul li{
	float:left;
}

#header-menu ul li a{
	color:#000;
	font-size:14px;
	margin-right: 44px;
	text-transform: uppercase;	
}

/* ------------- "banner style */
#banner {
	height:420px;
	background-color: #9fc63f;
}

#banner .container{
	background-image: url("img/monitor.png");
	height:420px;
	background-repeat: no-repeat;
	background-position: 0 30px;
}
#arrow-left{
	float:left;
    position: relative;
    left: -100px;
    top: 178px;
}

#arrow-right{
	float:right;
	position: relative;
    right: -100px;
    top: 178px;
}

#banner-text {
	margin-right:-60px;
	margin-top: 80px;
	width:440px;
	float:right;
}

#banner-text p{
	text-align:center;
	color:#ffffff;
	font-size: 30px;
	line-height: 1.5em;
}


/* ------------- "home-blurbs style */
#home-blurbs {
    text-align: center;
    padding: 40px 0 45px;
}

.hb-icon {
    float: left;
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;

}

.hb-icon h4 {
    margin: 0 0 11px;
    text-transform: uppercase;
    font-size: 30px;
}

.text-green {
    color: #9fc63f;
}

.hb-item img {
    display: block;
    margin: 0 auto 15px;
}

.hb-item span {
    font-size: 18px;
}

/* ------------- "portfolio style */
#pf-left{
	float:left;
	width:468px;
}
#pf-right{
	float:left;
	width:468px;
}

#pf-item1{
	height:150px;
	width:468px;
}
#pf-item1 img{
	float:left;
}


